#black_overlay {
    position: absolute;
    background-color: black;
    z-index: 1001;
    opacity: .80;
    filter: alpha(opacity=88);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 20px;
    border: 10px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
